@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #323C4D;
  background: rgb(140,165,212);
  background: radial-gradient(circle, rgba(140,165,212,1) 0%, rgba(73,119,204,1) 100%);
}

header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100%;
  padding: 30px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.logo {
  font-family: 'Dosis', sans-serif;
  color: #fff;
}

.primary-button {
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #fff;
  color: #323C4D;
  text-decoration: none;
  font-weight: 500;
  margin: 0 10px;
}

.banner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner-content {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -150px;
}

.banner-content .text-container {
  max-width: 550px;
  color: #fff;
}

.banner-content .text-container h2 {
  font-weight: 400;
  font-size: 40px;
  padding-bottom: 20px;
}

.banner-content .text-container p {
  font-size: 16px;
}

.banner-content img {
  width: 25%;
  min-width: 300px;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.waves svg {
  position: relative;
  display: block;
  width: calc(190% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}

.waves .shape-fill {
  fill: #FFFFFF;
}

main {
  display: flex;
  flex-direction: column;
}

#services-title {
  padding: 50px 0 100px 0;
}

.services {
  position: relative;
  width: 100%;
  display: flex;
  padding: 0 70px 200px 70px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.tilt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.tilt svg {
  position: relative;
  display: block;
  width: calc(220% + 1.3px);
  height: 100px;
}

.tilt .shape-fill {
  fill: #323C4D;
}

.service {
  display: flex;
  align-items: center;
  height: 50vh;
}

.service-data {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: space-between;
}

.service-data img {
  height: 100%;
}

.service .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}

.portfolio {
  display: flex;
  width: 100%;
  padding: 50px 0;
  flex-direction: column;
  align-items: center;
  background-color: #323C4D;
  color: #fff;
}

#portfolio-title {
  padding: 20px 0;
}

.splide__list {
  align-items: center;
}

.splide__slide img {
  width: 100%;
  height: auto;
  padding: 50px 20px;
}

.scroll-to-top {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #fff;
  height: 50px;
  width: 50px;
  padding: 15px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: solid 2px #4977cc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.scroll-to-top[hide] {
	opacity: 0;
	transform: translateY(100%);
  transition: .3s ease-in-out;
}

.scroll-to-top[show] {
	opacity: 1;
	transform: translateY(0);
	transition: .3s ease-in-out;
}
